p {
  /*   background: lightgreen; */
  /*   border: 1px solid black; */
  /*   padding: 20px; */
}
span {
  /*   background: yellow; */
  /*   border: 1px solid black; */
  /*   padding: 20px; */
  /*   margin: 20px; */
}
