/* 
https://www.paulirish.com/2012/box-sizing-border-box-ftw/ 
https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
*/

/* html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
} */

.wrapper {
  font-size: 20px;
  width: 800px;
  margin: 0 auto;
}
header,
footer {
  background: #ccc;
  height: 50px;
}
aside {
  background: lightblue;
  height: 250px;
  /*   width: 200px; */
  /*   float: left; */
}
article {
  background: lightgreen;
  height: 250px;
  /*   width: 600px; */
  /*   float: left; */
  /*   padding: 20px; */
}
footer {
  /*   clear: both; */
}
