body {
  font-size: 20px;
}
a {
  /*   color: red; */
}
a:link {
  /*   color: green; */
}
a:visited {
  /*   color: gray; */
}
a:focus {
  /*   outline: 1px solid black; */
}
a:hover {
  /*   background: gray; */
}
a:active {
  /*   color: white; */
}
